*{
   margin: 0%;
   padding: 0%;
}


body{
 background-color: aqua;
}

#img{
    display: flex;
    justify-content: center;
}


#btn{
   display: flex;
   justify-content: center;
}

#imageContainer{
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}